@import '~bootstrap/scss/bootstrap';

h1 {
  color: #000;
}

td {
  border: 4px solid #000;
  height: 90px;
  width: 90px;
  font-size: 40pt;
  text-align: center;
}

#message {
  font-size: 20pt;
}

.score-board {
  padding: 10px;
}

.playerX {
  display: inline-block;
  padding: 15px;
}

.playerX h4 {
  font-weight: bold;
}

.playerO {
  display: inline-block;
  padding: 15px;
}

.playerO h4 {
  font-weight: bold;
}

.score-box {
  border: 3px solid black;
  padding: 30px;
  color: #000;
}
